<div class="campus-hub">
  <div class="card card-body shadow-sm">
    <div class="row">
      <div class="col-4">
        <div class="entry">
          <img src="../../../assets/Daniel.jpeg">
        </div>
      </div>
      <div class="col-8">
        <h5 class="card-title"> Daniel Schnoll </h5>
        <p>My name is Daniel, and I am a Junior at Rensselaer Polytechnic Institute studying Computer Science and IT
          and Web Science. </p>

        <p>Thus far, my coursework entails: learning Python in Computer Science 1; C++ in Data
          Structures; discrete math in Foundations of Computer Science; hardware basics, C, and MIPS Assembly in
          Computer Organization; algorithmic design and analysis in Intro to Algorithms; software design,
          implementation, and testing (Java) in Principles of Software; and web development basics in Intro to ITWS. If
          you so desire, you can follow my growth and progress as a budding developer via my Github repo. </p>

        <div style="position: absolute; margin-top: 4.1rem;">
          <button class="btn btn-secondary" style="margin-right: 1rem"> Follow </button>
          <button class="btn btn-secondary"> Contact </button>
        </div>

      </div>
    </div>
  </div>
</div>
