@import '../../../styles.scss';

.campus-hub {
  .card {
    width: 65%;
    margin: 0 auto 1.5rem auto;

    &-title {
      text-align: left;
    }

    h5 {
      font-size: 2.6rem !important;
      font-weight: 400 !important;
    }

    &--link {
      width: 80%;
      display: flex;
      justify-content: center;
      margin: 1rem auto auto auto;
    }
  }

  .btn {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.6rem;
  }
}

@media screen and (min-width: $sm) {
  .card {
    width: 80%;
  }
}

.entry {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 33%;
  border-radius: 5px;
}

img {
  border-radius: 5px;
}
